<div class="widget-booklist widget">
	<h4 class="widget__title">Reading List (Amazon Links)</h4>
	<div class="widget__content" style="max-width:60%">
		<ul class="widget__list">
			<li class="widget__item">
				<h5>Reading Now</h5>
			</li>
			
			<li class="widget__item"><a class="widget__link" href="https://amzn.to/2ZpYzQt"><img style="width: 90%;"
						src="https://i.imgur.com/C7jPFgZ.jpg" /> </a></li>


			<li class="widget__item"><a class="widget__link" href="https://amzn.to/2MZUdx3"><img style="width: 90%;"
				src="https://m.media-amazon.com/images/I/41osMBtoloL.jpg" /> </a></li>
						

			<li class="widget__item">
				<h5>Recently Finished</h5>
			</li>

			<li class="widget__item"><a class="widget__link" href="https://amzn.to/37hLdKA"><img style="width: 90%;"
						src="https://i.imgur.com/cHYpk2e.jpg" /> </a></li>

			<li class="widget__item">
				<h5>TBR</h5>
			</li>
			<li class="widget__item"><a class="widget__link" href="https://amzn.to/2UTzA5Z"><img style="width: 90%;"
				src="https://i.imgur.com/a2mj743.jpg" /> </a></li>

			<li class="widget__item"><a class="widget__link" href="https://amzn.to/3kUbq6V"><img style="width: 90%;"
						src="https://i.imgur.com/iIxNpvq.jpg" /> </a></li>

			<li class="widget__item"><a class="widget__link" href="https://amzn.to/2JjSWi9"><img style="width: 90%;"
						src="https://i.imgur.com/3KaRkMi.jpg" /> </a></li>
		</ul>
	</div>
</div>