<div class="widget-booklist widget">
	<h4 class="widget__title">Reading List (Amazon Links)</h4>
	<div class="widget__content">
		<ul class="widget__list">
			<li class="widget__item">
				<h5>Reading Now</h5>
			</li>

			<li class="widget__item"><a class="widget__link" href="https://amzn.to/3oDSvPR"><img style="width: 90%;"
						src="https://m.media-amazon.com/images/I/51FIj4YAurL.jpg" /> </a></li>

			<li class="widget__item">
				<h5>Recently Finished</h5>
			</li>

			<li class="widget__item"><a class="widget__link" href="https://amzn.to/386JCZt"><img style="width: 90%;"
						src="https://m.media-amazon.com/images/I/51PdzumjQFL._SX260_.jpg" /> </a></li>

			<li class="widget__item">
				<h5>TBR</h5>
			</li>

			<li class="widget__item"><a class="widget__link" href="https://amzn.to/3jGLGJx"><img style="width: 90%;"
						src="https://images-na.ssl-images-amazon.com/images/I/51FJFqMnaBL._SX327_BO1,204,203,200_.jpg" />
				</a></li>

			<li class="widget__item"><a class="widget__link" href="https://amzn.to/3kUbq6V"><img style="width: 90%;"
						src="https://m.media-amazon.com/images/I/41t3yrbonXL.jpg" /> </a></li>

			<li class="widget__item"><a class="widget__link" href="https://amzn.to/2JjSWi9"><img style="width: 90%;"
						src="https://m.media-amazon.com/images/I/51PXthXhbiL._SY346_.jpg" /> </a></li>
		</ul>
	</div>
</div>