.twitter-tweet-rendered {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

div.widget-booklist img {
    display: block;
    margin-left: auto;
	margin-right: auto 
}

span.spoilers {
	cursor: pointer;
}

span.spoiler-alert {
	color: red;
}

span.spoiler-text {
	background-color: black;
}

span.spoiler-text.spoiler-show {
	background-color: white;
}

article figure {
	text-align: center;
}

details {
	margin-bottom: 0.75em;
}

img.blurred {
	filter: blur(15px);
  -webkit-filter: blur(15px);
  /* padding: 15px */
}

figure.vertical > img {
	max-width: 50%;
}

li, ol {
	list-style-position: inside;
	margin-left: 0.5rem;
}

#contactform * {box-sizing: border-box;}

#contactform input[type=text], 
#contactform select,
#contactform textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

#contactform input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#contactform input[type=submit]:hover {
  background-color: #45a049;
}

.formcontainer {
  border-radius: 0px 5px;
  /* background-color: #f2f2f2; */
  padding: 0px 20px;
}

/* div.synopsis {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

div.synopsis figure.synopsis {
  max-width: 200px;
  flex: 1 0 auto;
}

div.synopsis div.synopsis-text {
  margin: 0 10px;
  flex: 2 1 auto;
} */

div.synopsis {
  display: block;
  overflow: auto;
  background-color: #f5f5f5;
}

div.synopsis figure.synopsis {
  max-width: 175px;
  float: left;
  margin: 10px 10px 5px 10px;
}

div.synopsis div.synopsis-text {
  margin: 10px 10px 10px 10px;
}

div.synopsis div.synopsis-text p:last-of-type {
  margin-bottom: 0;
}

div.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.book {
  /* display: flex; */
  flex: 1 0 500px;
    box-sizing: border-box;
    margin: 1rem .25em;
  overflow: auto;
  background-color: #f5f5f5;
}

div.book figure.book {
  max-width: 175px;
  /* float: left; */
  margin: 10px 10px 5px 10px;
}

div.book div.book-text {
  margin: 10px 10px 10px 10px;
}

div.book div.book-text p:last-of-type {
  margin-bottom: 0;
}

.card {
	/* background: white; */
  background-color: #f5f5f5;
	margin-bottom: 1em;	
}

.card div.card-image {
  position: relative
}

.card span.card-badge {
  position: absolute;
  font-size: 150%;
  top: -8px;
  /* right: 16px; */
  z-index: 5;
}

.card figure {
  margin: 0px 0 0.25rem;
  position: relative
}

.card a {
	color: black;
	text-decoration: none;
}

.card a:hover {
	box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}

.card-content {
	padding: 0.4em;
}

.card-content h4 {
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: bold;
}

/* .card-content p {
	font-size: 80%;
} */

/* Flexbox stuff */

.cards {
    display: flex;
    flex-wrap: wrap;
 }

.card {
    flex: 1 0 500px;
    box-sizing: border-box;
    margin: 1rem .25em;
}

@media screen and (min-width: 40em) {
    .card {
       max-width: calc(50% -  1em);
    }
}

@media screen and (min-width: 60em) {
    .card {
        max-width: calc(25% - 1em);
    }
}

.centered {
    margin: 0 auto;
    padding: 0 1em;
}

@media screen and (min-width: 52em) {
    .centered {
        max-width: 52em;
    }
}

.rating-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  height: 100vh;
}

#star-five {
  margin: 50px 0;
  position: relative;
  display: block;
  color: red;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid red;
  border-left: 100px solid transparent;
  -moz-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
}

#star-five:before {
  border-bottom: 80px solid red;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: '';
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
}

#star-five:after {
  position: absolute;
  display: block;
  color: red;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid red;
  border-left: 100px solid transparent;
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  content: '';
}

.rating-wrapper span {
  position: absolute;
  color: white;
  font-size: 48px;
}