{{ define "main" }}
<main class="main" role="main">
	<article class="post">
		<header class="post__header">
			<h1 class="post__title">{{ .Title }}</h1>
			{{- with .Params.lead }}
			<p class="post__lead">{{ . }}</p>
			{{- end }}
			{{ with partial "post_meta.html" . -}}
			<div class="post__meta meta">{{ . }}</div>
			{{- end }}
		</header>
		{{- if .Params.thumbnail }}
		<figure class="post__thumbnail">
			<img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}">
		</figure>
		{{- end }}
		<!-- {{- partial "post_toc.html" . -}} -->
		<div class="content post__content clearfix">
			{{ .Content }}
		</div>

		<!-- https://npf.io/2014/08/making-it-a-series/ -->
		{{ if .Params.series }}

		{{ $name := index .Params.series 0 }}
		<hr />
		<div>
			<p>This is a post in the <b>{{$name}}</b> series.
				<!-- <br /> -->
				<!-- Other posts in this series: -->
			</p>

			{{ $name := $name | urlize }}
			{{ $series := index .Site.Taxonomies.series $name }}
			<ol class="series">
				{{ range $series.Pages.Reverse }}
				<!-- <li>{{.Date.Format "Jan 02, 2006"}} -
				<a href="{{.Permalink}}">{{.LinkTitle}}</a>
			</li> -->
				<li>
					{{ if eq .Permalink $.Page.Permalink}}
					<b>{{ .Params.title }}</b>
					{{ else }}
					<a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
					{{ end }}
				</li>
				{{end}}
			</ol>
		</div>
		{{end}}


		{{- if .Params.tags }}
		<footer class="post__footer">
			{{ partial "post_tags.html" . }}
		</footer>
		{{- end }}
	</article>
</main>
{{ partial "authorbox.html" . }}
{{ partial "pager.html" . }}
<!-- <h3>You can comment by replying on Twitter, Reddit, or using the contact form below!</h3>
<hr> -->
<!-- {{if .Params.tweet}}
<a href="https://twitter.com/FalconSensei/status/{{ .Params.tweet }}">Click here to join the discussion on Twitter!</a> <br>
{{ end }}
{{if .Params.reddit}}
<a href="{{ .Params.reddit }}">Click here to join the discussion on Reddit!</a>
{{ end }}  -->

{{ partial "mentions.html" . }}
<br>
<hr>
{{if or (.Params.reddit) (.Params.tweet)}}
<h3>You can comment by replying on Twitter, Reddit, or using the contact form below!</h3>
<hr>
{{if .Params.reddit}}
<blockquote class="reddit-card">
	<a href="{{ .Params.reddit }}">
		r/geekosaur Lounge</a>
	from <a href="http://www.reddit.com/r/geekosaur">r/geekosaur</a>
</blockquote>
<script async src="//embed.redditmedia.com/widgets/platform.js" charset="UTF-8"></script>
{{ end }} 
{{if .Params.tweet}}
{{- $url := printf "https://api.twitter.com/1/statuses/oembed.json?id=%v&dnt=%t" (.Params.tweet) true -}}
{{- $json := getJSON $url -}}
{{ $json.html | safeHTML }}
{{ end }} 
{{ end }}
<!-- {{ partial "comments.html" . }} -->
{{ end }}