{{ define "main" }}
<main class="main" role="main">
	<article class="post">
		<header class="post__header">
			<h1 class="post__title">{{ .Title }}</h1>
			{{- with .Params.lead }}
			<p class="post__lead">{{ . }}</p>
			{{- end }}
			{{ with partial "post_meta.html" . -}}
			<div class="post__meta meta">{{ . }}</div>
			{{- end }}
		</header>
		{{- if .Params.thumbnail }}
		<figure class="post__thumbnail">
			<img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}">
		</figure>
		{{- end }}
		{{- partial "post_toc.html" . -}}
		<div class="content post__content clearfix">
			{{ .Content }}
		</div>
		{{- if .Params.tags }}
		<footer class="post__footer">
			{{ partial "post_tags.html" . }}
		</footer>
		{{- end }}
	</article>
</main>
{{ partial "authorbox.html" . }}
{{ partial "pager.html" . }}
{{if or (.Params.reddit) (.Params.tweet)}}
<h3>Leave a comment on Reddit or reply on Twitter!</h3>
{{if .Params.reddit}}
<blockquote class="reddit-card">
	<a href="{{ .Params.reddit }}">
		r/geekosaur Lounge</a>
	from <a href="http://www.reddit.com/r/geekosaur">r/geekosaur</a></blockquote>
<script async src="//embed.redditmedia.com/widgets/platform.js" charset="UTF-8"></script>
{{ end }}
{{if .Params.tweet}}
{{- $url := printf "https://api.twitter.com/1/statuses/oembed.json?id=%v&dnt=%t" (.Params.tweet) true -}}
{{- $json := getJSON $url -}}
{{ $json.html | safeHTML }}
{{ end }}
{{ end }}
{{ partial "comments.html" . }}
{{ end }}